<section class="product-page" *ngIf="product">
  <div class="product">
    <img class="product__preview" [src]="book.picture" />
    <div class="product__details" book-details [book]="book">
      <div class="product__purchase" ngProjectAs="purchase-information">
        <div>
          <span class="tui-text_h4">{{ product | productPrice }}</span>
          <span
            class="product__discount tui-text_h4"
            *ngIf="product.discount && product.onSale"
          >
            {{ product.cost }} руб.
          </span>
        </div>
        <button
          tuiButton
          type="button"
          size="m"
          appearance="primary"
          *ngIf="product.onSale"
        >
          Добавить в корзину
        </button>
      </div>
    </div>
  </div>

  <div class="similar" similar [productId]="product.id"></div>
</section>
