<table class="tui-table">
  <thead>
    <tr class="tui-table__tr">
      <th class="tui-table__th" *ngFor="let item of columns">{{ item }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let discount of discounts" class="tui-table__tr">
      <td class="tui-table__td">{{ discount.name }}</td>
      <td class="tui-table__td">{{ discount.description }}</td>
      <td class="tui-table__td">{{ discount.percent }}</td>
      <td class="tui-table__td">{{ discount?.createdAt | date }}</td>
      <td class="tui-table__td">
        <button
          (click)="delete(discount.id)"
          tuiIconButton
          icon="tuiIconTrashLarge"
          size="s"
          appearance="accent"
        ></button>
      </td>
    </tr>
  </tbody>
</table>
