@import 'mixins';
@import 'vars';

.filter {
  @include element(entities-wrapper) {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;

    @include modifier(hidden) {
      display: none;
    }
  }

  @include element(toggle-button) {
    display: none;
    margin-bottom: 0.5rem;

    @media screen and (max-width: $tablet-langscape-min) {
      display: block;
    }
  }

  @include element(entity) {
    width: 100%;
  }
}
