@import 'mixins';
@import 'vars';

.cart {
  padding: 1rem;

  @include element(empty-label) {
    text-align: center;

    @include modifier(link) {
      color: var(--tui-link-hover);
      text-decoration: underline;
      cursor: pointer;
    }
  }

  @include element(order-form) {
    margin-top: 1rem;
    width: 20rem;
  }

  @include element(price) {
    font-weight: 700;
  }

  @media screen and (max-width: $tablet-portrait-min) {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
