@import 'mixins';
@import 'vars';

.form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;

  @include element(input) {
    width: 100%;
  }

  @media screen and (max-width: $tablet-portrait-min) {
    flex-direction: column;
    align-items: stretch;
  }
}
