<section class="cart">
  <div *ngIf="cartList && cartList.length" class="cart-list">
    <cart-item
      *ngFor="let item of cartList"
      (deleteItem)="deleteItemFromCartList($event)"
      (countChanges)="changeCountItems($event)"
      [cartItem]="item"
    ></cart-item>

    <p class="tui-text_body-m" *ngIf="totalPrice">
      Итого: {{ totalPrice }} руб.
    </p>

    <order-form
      (formValueChanges)="onChangeOrderForm($event)"
      (orderButtonClicked)="createOrder()"
    ></order-form>
  </div>

  <p *ngIf="cartList && !cartList.length">Корзина пуста</p>
</section>
