<section class="cart page">
  <div *ngIf="cartList && cartList.length" class="cart-list">
    <p class="tui-text_body-l-2">Список товаров:</p>

    <cart-item
      *ngFor="let item of cartList; index as i"
      [count]="i + 1"
      (productPictureClick)="navigateToProductPage($event)"
      (deleteItem)="deleteItemFromCartList($event)"
      (countChanges)="changeCountItems($event)"
      [cartItem]="item"
    ></cart-item>

    <p class="tui-text_body-m" *ngIf="totalPrice">
      Итого: <span class="cart__price">{{ totalPrice }} руб.</span>
    </p>

    <div
      order-form
      class="cart__order-form"
      (formValueChanges)="onChangeOrderForm($event)"
      (orderButtonClicked)="createOrder()"
    ></div>
  </div>

  <p
    class="cart__empty-label tui-text_body-l-2"
    *ngIf="cartList && !cartList.length"
  >
    Корзина пуста.
    <span class="cart__empty-label--link" (click)="navigateToSearchPage()"
      >Перейти на страницу поиска товаров</span
    >
  </p>
</section>
