@import 'mixins';

.search-page {
  @include element(content) {
    width: 100%;
    padding: 0 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
}

.content-wrapper {
  display: flex;
  margin: 2rem 0;
}
