@import 'mixins';
@import 'vars';

.section {
  @include element(title) {
    margin-bottom: 1rem;
    min-height: 2rem;
    font: var(--tui-font-heading-3);
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    @media screen and (max-width: $tablet-langscape-min) {
      text-align: center;
    }
  }

  @include element(product-list) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

    @media screen and (max-width: $tablet-langscape-min) {
      justify-content: center;
    }
  }
}
