@import 'mixins';

.card-button {
  cursor: pointer;
  width: 11.5rem;
  height: 15rem;
  background-color: var(--tui-negative-hover);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 0.5rem;

  @include element(icon) {
    color: var(--tui-base-01);
    font-size: 2.5rem;
    height: 2.5rem;
    width: 2.5rem;
  }

  @include element(text) {
    width: 100%;
    text-align: start;
    font: var(--tui-font-heading-3);
    color: var(--tui-base-01);
    word-wrap: break-word;
  }
}
