<form class="form">
  <tui-combo-box
    tuiTextfieldSize="m"
    class="dialog__input"
    [formControl]="categoryControl"
  >
    Программа скидок
    <input tuiTextfield />
    <tui-data-list-wrapper
      *tuiDataList
      [items]="categoryNames"
    ></tui-data-list-wrapper>
  </tui-combo-box>

  <button
    (click)="changeCategory()"
    [disabled]="categoryControl.invalid"
    class="dialog__button"
    tuiButton
    appearance="primary"
    type="button"
    size="m"
  >
    Изменить
  </button>
</form>
