<header *ngIf="hasHeader" class="header">
  <span class="header__logo tui-text_h4" (click)="navigateToMainPage()">
    Book Store
  </span>

  <button
    (click)="openNavBar()"
    class="header__menu-button"
    tuiIconButton
    appearance="flat"
    icon="tuiIconMenuLarge"
    size="s"
  ></button>

  <nav class="header__nav nav" [class.nav--shown]="isShowNavBar">
    <ng-container *ngFor="let route of menuRoutes">
      <span
        (click)="closeNavBar()"
        class="nav__item tui-text_body-l-2"
        [routerLink]="route.path"
        routerLinkActive="nav__item--active"
      >
        {{ route.title }}
      </span>
    </ng-container>

    <button
      (click)="closeNavBar()"
      class="nav__close-button"
      tuiIconButton
      appearance="flat"
      icon="tuiIconRemoveLarge"
      size="s"
    ></button>
  </nav>
</header>
