<section class="books page">
  <h2 class="books__title tui-text_h5">{{ title }}</h2>

  <create-book-form
    [initialValue]="editableBook"
    (valueChanges)="onBookFormChanges($event)"
    class="books__create-book-form"
  ></create-book-form>

  <h4 class="books__title tui-text_body-l-2">Авторы:</h4>

  <author-list
    [initialValues]="editableBook?.authors"
    (authorListChanges)="onAuthorListChanges($event)"
    class="books__author-list"
  ></author-list>

  <button
    (click)="onClickButton()"
    class="books__add-button"
    tuiButton
    type="button"
    size="m"
    appearance="primary"
    [disabled]="!isValidBookForm || !hasAuthors"
    color="primary"
  >
    {{ buttonText }}
  </button>
</section>
