@import 'mixins';

.header {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  background-color: var(--tui-neutral-bg);

  @include element(search) {
    width: 100%;
  }

  @include element(logo) {
    min-width: 13rem;
  }

  @include element(cart) {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 4rem;
    min-height: 4rem;
    border-radius: 50%;
    background-color: var(--tui-support-07);
    cursor: pointer;
  }

  @include element(cart-icon) {
    width: 3rem;
  }
}
