@import 'mixins';

.header {
  width: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  background-color: var(--tui-neutral-bg);

  @include element(search) {
    width: 100%;
  }

  @include element(logo) {
    min-width: 13rem;
    cursor: pointer;
  }
}

.nav {
  @include element(item) {
    margin-right: 1rem;
    cursor: pointer;

    @include modifier(active) {
      font-weight: 700;
    }
  }
}
