@import 'mixins';

.section {
  @include element(title) {
    display: inline-block;
    margin-bottom: 1rem;
    cursor: pointer;
    min-height: 2rem;

    &:hover {
      text-decoration: underline;
    }
  }

  @include element(product-list) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1rem;
  }

  @include element(details) {
    cursor: pointer;
    width: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
