@import 'mixins';

.product-page {
  padding: 2rem;
  min-height: 90vh;
}

.product {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;

  @include element(preview) {
    max-height: 30rem;
  }

  @include element(purchase) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }

  @include element(cost) {
    display: flex;
    gap: 1rem;
  }

  @include element(discount) {
    text-decoration: line-through;
    color: var(--tui-negative);
  }
}

.similar {
  width: 100%;
  margin-top: 4rem;
}
