<div class="item">
  <p class="tui-text_body-m">{{ count }}.</p>

  <img
    (click)="onClickProductPicture()"
    class="item__image cursor-pointer"
    [src]="book.picture"
  />

  <p class="item__title tui-text_body-m">{{ book.title | textOverflow: 30 }}</p>

  <p class="item__title tui-text_body-m">
    {{ product | productPrice: itemCount }}
  </p>

  <tui-input-count
    class="item__input"
    [formControl]="productFormControl"
    tuiTextfieldSize="m"
    [max]="10"
    [min]="1"
  ></tui-input-count>

  <button
    (click)="onClickDelete(cartItem.product.id)"
    tuiButton
    appearance="secondary-destructive"
    size="xs"
  >
    Удалить
  </button>
</div>
