@import 'mixins';

.section {
  @include element(title) {
    min-height: 2rem;
    width: 10rem;
    display: inline-block;
    margin-bottom: 1rem;
  }

  @include element(product-list) {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  @include element(product-card) {
    width: 14.5rem;
    height: 22rem;
  }
}
