@import 'mixins';

.wrapper {
  cursor: pointer;
  display: inline-block;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.5rem;
  border: 1px solid var(--tui-info-bg);
  padding: 1rem;
  cursor: pointer;

  @include element(title) {
    width: 100%;
  }

  @include element(label) {
    align-self: flex-end;
  }

  @include element(image) {
    width: 12rem;
    height: 16rem;
    background: #ccc;
  }

  @include element(discount) {
    text-decoration: line-through;
    color: var(--tui-negative);
  }

  @include element(cost-wrapper) {
    display: flex;
    justify-content: space-between;
  }

  @include element(cost) {
    font-weight: 700;
  }
}
