@import 'mixins';

.main {
  padding: 1rem;
  min-height: 100vh;

  @include element(toolbar) {
    width: 100%;
    margin-bottom: 1rem;
  }

  @include element(product-list) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1rem;
  }
}
