<section class="main">
  <div class="main__toolbar" genre-toolbar></div>

  <div class="main__toolbar" author-toolbar></div>

  <ng-container *ngFor="let section of sections">
    <div
      *ngIf="section.productList.length"
      class="main__category-section"
      category-section
      [section]="section"
    ></div>
  </ng-container>

  <ng-container *ngIf="!sections.length">
    <ng-container *ngFor="let section of skeletonSections">
      <div class="main__category-section" category-section-skeleton></div>
    </ng-container>
  </ng-container>

  <div class="main__search">
    <button tuiButton type="button" size="m" appearance="primary">
      Найти больше книг
    </button>
  </div>
</section>
