@import 'mixins';

.authors {
  width: 100%;
  min-height: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  @include element(toolbar) {
    width: 100%;
  }
}
