@import 'mixins';
@import 'vars';

.item {
  padding: 0.5rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @include element(book-info) {
    display: flex;
  }

  @include element(controls) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  @include element(description) {
    margin-left: 1rem;
  }

  @include element(delete-wrapper) {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    font: var(--tui-font-text-m2);
    color: var(--tui-base-06);
    bottom: 1rem;
    right: 1rem;

    & > span {
      font: var(--tui-font-text-m);
    }
  }

  @media screen and (max-width: $tablet-portrait-min) {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
  }
}

.image {
  cursor: pointer;
  height: 11rem;
  width: 8rem;
}

.description {
  width: 100%;
  height: 100%;

  @include element(title) {
    font: var(--tui-font-heading-6);
    margin-bottom: 0.5rem;

    @media screen and (max-width: $tablet-portrait-min) {
      font-size: 1rem;
    }
  }

  @include element(price) {
    font: var(--tui-font-text-m);
    color: var(--tui-base-08);
  }

  @include element(author) {
    font: var(--tui-font-text-m2);
    color: var(--tui-base-06);
    margin-bottom: 0.5rem;
  }
}
