@import 'mixins';

.discounts {
  @include element(form) {
    padding: 1rem;
    width: 50%;
  }

  @include element(list) {
    padding: 1rem;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 0.5rem;

  @include element(button) {
    max-width: 10rem;
  }

  @include element(input) {
    width: 100%;
  }

  @include element(row) {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    gap: 0.5rem;
  }
}
