<section class="discounts">
  <form [formGroup]="createDiscountForm" class="discounts__form form">
    <div class="form__row">
      <tui-input class="form__input" formControlName="name">
        Название скидки
        <input tuiTextfield type="text" />
      </tui-input>

      <tui-input class="form__input" formControlName="percent">
        Процент скидки
        <input tuiTextfield type="number" />
      </tui-input>
    </div>

    <tui-text-area
      class="form__input"
      [maxlength]="500"
      formControlName="description"
      [expandable]="true"
    >
      Описание скидки
    </tui-text-area>

    <button
      (click)="createDiscount()"
      class="form__button"
      [disabled]="createDiscountForm.invalid"
      tuiButton
      size="m"
      appearance="primary"
      type="button"
    >
      Создать
    </button>
  </form>

  <div class="discounts__list">
    <discount-list
      (deleteDiscount)="deleteDescount($event)"
      [discounts]="discountList"
    ></discount-list>
  </div>
</section>
