<section class="discounts">
  <form
    [formGroup]="createDiscountForm"
    class="discounts__create-form create-form"
  >
    <tui-input class="create-form__input" formControlName="name">
      Название скидки
      <input tuiTextfield type="text" />
    </tui-input>

    <tui-text-area
      class="create-form__input"
      [maxlength]="500"
      formControlName="description"
      [expandable]="true"
    >
      Описание скидки
    </tui-text-area>

    <tui-input class="create-form__input" formControlName="percent">
      Процент скидки
      <input tuiTextfield type="number" />
    </tui-input>

    <button
      (click)="createDiscount()"
      class="create-form__button"
      [disabled]="createDiscountForm.invalid"
      tuiButton
      size="m"
      appearance="primary"
      type="button"
    >
      Создать
    </button>
  </form>

  <div class="discounts__list">
    <discount-list
      (deleteDiscount)="deleteDescount($event)"
      [discounts]="discountList"
    ></discount-list>
  </div>
</section>
